
 <header>
      <h1>Meta &infin;</h1>

      <p>Your Mindful Meditation Homepage</p>
      <div id="messageOfTheDay"></div>

      <div id="mood">
        <select name="moods" id="moods">
          <option value="">Choose A Mood:</option>
          <option value="great">Great</option>
          <option value="good">Good</option>
          <option value="okay">Okay</option>
          <option value="awful">Awful</option>
        </select>
      <button id="login">login</button>

      <div id="loginModal" class="modal">
        <div class="modal-content">
          <form action="action_page.php" method="post">
          </form>

            <div class="container">
              <label for="usrname"></label>
              <input
                type="text"
                placeholder="Enter Username"
                name="usrname"
                required/>

              <label for="pswrd"></label>
              <input
                type="password"
                placeholder="Enter Password"
                name="pswrd"
                required
              />

              <button type="submit" action="/login">Login</button>
            </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>

      <script> 

        const modal = document.getElementById("loginModal");
        const loginClick = document.getElementById("login");

  loginClick.addEventListener('click', initModal);
  window.addEventListener('click', cancelModal);

  function initModal(){
    modal.style.display ='block';
  }

  function cancelModal(){
    if(event.target == modal){
    modal.style.display = 'none';
  }
  }
      </script>
      </div>

  </body>
    </header>



