    <script src="/assets/js/login.js"></script>
 
      
 <header>
      <h1>Meta &infin;</h1>

      <p>Your Mindful Meditation Homepage</p>
      <div id="messageOfTheDay"></div>

      <div id="mood">
        <select name="moods" id="moods">
          <option value="">Choose A Mood:</option>
          <option value="great">Great</option>
          <option value="good">Good</option>
          <option value="okay">Okay</option>
          <option value="awful">Awful</option>
        </select>
      <button id="login">login</button>
      <script> 
        const loginClick = document.getElementById("login");
      
        loginClick.addEventListener("click", initModal);
        console.log(`button clicked!`);
      </script>
      </div>

  </body>
    </header>

      {{!-- <div id="loginModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form action="action_page.php" method="post">
            <div class="imgcontainer">
              <img src="img_avatar2.png" alt="Avatar" class="avatar" />
            </div>

          </form>

            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input
                type="text"
                placeholder="Enter Username"
                name="uname"
                required/>

              <label for="psw"><b>Password</b></label>
              <input
                type="password"
                placeholder="Enter Password"
                name="psw"
                required
              />

              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember" />
                Remember me
              </label>
            </div>

            <div class="container" style="background-color: #f1f1f1">
              <button type="button" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
        </div>
      </div> --}}

