/* html {
    height: 100%;
    overflow: hidden;

  }
  
body {
    
    color:rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
} 

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

h1 {
    color:#fff;
    margin-top: -110px;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(../../media/relaxTree.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -2;
    min-height: 100vw;
}

header * {
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

select {
    color:black;

}

button {
   border-radius:8px;
   text-align: center;
   font-size: 18px;
   margin-left: 0;
   cursor: pointer;
   text-decoration: none;
   min-height: 25px;
   width: 95px;
   background-color: #fff;
   color: black;
    z-index: 1;
}

button:hover {
    background: rgb(91, 119, 158);
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    margin-top: 400px;
    z-index: 6;
    height: 30%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);

}

#loginForm {
    display: block;
    align-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 3;

}

.modal-content {
    display: flex;
    justify-content:space-around;
    background-color: rgb(91, 119, 158);
    margin: auto;
    width: 20%;
    animation-name: tony;
    animation-duration: 1.7s;
}


@keyframes tony{
    from{
        transform: translateY(100%);
    } 

    to {
        transform: translateY(0%);
    }
} */